.header {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Raleway;
  background: #252525;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header__decoration {
  height: 1px;
  width: 50px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.4);
}
.header__contacts {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  font-weight: Regular;
  font-size: 10px;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.5);
}
.header__contact a, .header__contact span {
  font-family: Roboto;
  font-weight: medium;
}
.header__contact a {
  color: #ed8031;
  margin-left: 10px;
}
.header__contact span {
  color: rgba(255, 255, 255, 0.75);
}
.header__separator {
  width: 1px;
  height: 30px;
  margin: 0 20px;
  background: rgba(255, 255, 255, 0.4);
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}
.logo__img-wrapper {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.logo__img {
  width: 3em;
  height: 3em;
}

.burger {
  width: 70px;
  height: 70px;
  position: relative;
  background: #3c3c3c;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.burger span {
  top: 34px;
  left: 25px;
  width: 20px;
  height: 2px;
  display: block;
  background: #fff;
  position: absolute;
}
.burger span:first-child {
  top: 29px;
}
.burger span:last-child {
  top: 39px;
}
.burger:hover {
  background: #ed8031;
}

.main {
  height: 100%;
}

.aside {
  position: absolute;
  top: 0;
  padding-top: 70px;
  z-index: 5;
  background: #303030;
  height: 100%;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aside__decoration {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  width: 50%;
  background: url(../../../src/icons/decoration/lines-lite.svg) center no-repeat;
}
.aside__soc-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.aside__soc-item {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  -webkit-transition: 0.5s all ease 0s;
  transition: 0.5s all ease 0s;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.aside__soc-item:not(:last-child) {
  border-bottom: none;
}
.aside__soc-item:hover {
  opacity: 1;
  border: none;
  background: #ed8031;
}
.aside__soc-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aside__soc-img {
  width: 15px;
  height: auto;
}
.aside__share-icon {
  width: 70px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ed8031;
}
.aside__share-icon img {
  width: 12px;
  height: 12px;
}

.slider {
  width: 100%;
  height: 100%;
  padding-left: 70px;
  overflow: hidden;
  position: relative;
  color: #fff;
}
.slider__bottom {
  position: absolute;
  bottom: 0;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(75% - 70px);
  z-index: 5;
}
.slider__share-items {
  background: #303030;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 3px solid #ed8031;
}
.slider__share-item {
  width: 70px;
  height: 70px;
  border-top: none;
  border-bottom: none;
}

.slider-pagination {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.slider-pagination .swiper-pagination {
  top: -10px;
}
.slider-pagination .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .slider-pagination .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7.5px;
}
.slider-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  opacity: 1;
  background: #fff;
}
.slider-pagination .swiper-pagination-bullet-active {
  background: #ed8031;
  position: relative;
}
.slider-pagination .swiper-pagination-bullet-active::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #ed8031;
  position: absolute;
  border-radius: 100%;
  left: -4px;
  top: -4px;
}

.slider-scrollbar {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.slider-scrollbar .swiper-scrollbar {
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}
.slider-scrollbar .swiper-scrollbar-drag {
  height: 3px;
  background: #ed8031;
  top: -1px;
}

.slider-navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  position: relative;
  left: 10px;
}
.slider-navigation .swiper-button-next, .slider-navigation .swiper-button-prev {
  top: 5px;
  width: 32px;
  height: 32px;
  background: #3c3c3c;
  border-radius: 100%;
  border: 2px solid #ed8031;
  color: #ed8031;
}
.slider-navigation .swiper-button-next::after, .slider-navigation .swiper-button-prev::after {
  font-size: 10px;
}
.slider-navigation .swiper-button-next {
  right: 0;
}
.slider-navigation .swiper-button-left {
  left: 0;
}
.slider-navigation__container {
  max-width: 80px;
  position: relative;
  margin: auto;
}

.slider-counter {
  top: 100px;
  right: 15px;
  width: 120px;
  height: 80px;
  position: absolute;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.slider-counter .current {
  font-size: 40px;
  color: #ed8031;
  display: inline-block;
  min-width: 42px;
}

.slider-current {
  position: absolute;
  right: 40px;
  bottom: 10px;
  font-size: 100px;
  font-family: Oswald, sans-serif;
  color: #252525;
  -webkit-text-stroke: 1px #7f7f7f;
}
.slider-current__dot {
  color: #ed8031;
  -webkit-text-stroke: 0px #7f7f7f;
}

.slider-gear {
  width: 500px;
  height: 500px;
  top: 50%;
  -webkit-transform: translateY(calc(-56%));
          transform: translateY(calc(-56%));
  z-index: 2;
  position: absolute;
  background: url(../../../src/icons/slider/gear.svg) center/cover no-repeat;
  opacity: 0.04;
  right: calc(24% - 250px);
}

.swiper-img {
  width: 75%;
  height: 100%;
  padding-top: 70px;
  overflow: hidden;
  position: relative;
}
.swiper-img__slide {
  height: 100%;
  overflow: hidden;
}
.swiper-img__slide::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.swiper-img__background {
  height: 100%;
  background: center/cover;
}

.swiper-txt {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: calc(100% - 70px);
}
.swiper-txt__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.swiper-txt__content {
  color: #fff;
  text-align: right;
  padding-right: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.swiper-txt__heading {
  max-width: 780px;
  font-family: Oswald;
  font-size: 60px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.swiper-txt__heading span {
  color: #ed8031;
  white-space: nowrap;
}
.swiper-txt__desc {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 600;
  line-height: 170%;
  max-width: 500px;
  margin-bottom: 20px;
}
.swiper-txt__button {
  float: right;
  clear: both;
}

.button {
  position: relative;
  color: #fff;
  background: #ed8031;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  border: none;
  display: inline-block;
  padding: 14px 26px;
  font-weight: 800;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #3c3c3c;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}
.button:hover::before, .button:focus::before {
  width: 100%;
}
.button span {
  position: relative;
  z-index: 2;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  color: #000;
  height: 100%;
  line-height: 1;
  background: #252525;
}