.main {
    height: 100%;
}

.aside {
    // стили для боковой панели
    position: absolute;
    top: 0;
    padding-top: 70px;
    z-index: 5;
    background: #303030;
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &__decoration {
        // декоративные полоски
        flex: 1 0 0;  
        width: 50%;
        background: url(../../../src/icons/decoration/lines-lite.svg) center no-repeat;
    }
    &__soc-list {
        // список социальных сетей
        flex: 1 0 0;
    }
    &__soc-item {
        width: 40px;
        height: 40px;
        opacity: 0.3;
        transition: 0.5s all ease 0s;
        border: 1px solid rgba($color: #fff, $alpha: .3);
        &:not(:last-child) {
            border-bottom: none;
        }
        &:hover {
            opacity: 1;
            border: none;
            background: #ed8031;
        }
    }
    &__soc-link {
        // ссылка на соц. сеть
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__soc-img {
        width: 15px;
        height: auto;
    }
    &__share-icon {
        width: 70px;
        flex: 0 0 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ed8031;
        & img {
            width: 12px;
            height: 12px;
        }
    }
}